.page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-options-wrapper {
  width: 70%;
}

.data-display-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


table {
  width: 70%;
  text-align: center;
}

table, th, td {
  border: solid 2px black;
}